
* {

    margin: 0;

    padding: 0;

}

h1, h2, h3, h4 {

    color: #333;

}

html {

    font-size: 62.5%;

}

body {

    background: #fdfdfd, url(../images/back.png);

    width: 100%;

    font-family:'Open Sans', Arial, sans-serif !important;

    font-size: 1em;

    color: #fdfdfd;

    font-size: 1em;

}

/* Header Stuffs*/

#full-wrap {

    width: 100%;

}

#header-wrap {

    width: 100%;

    border-bottom: 3px solid #3887be;

    /*position: fixed;*/

    z-index: 12;

    top: 0;

}

.shadow {
-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
       -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
            box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);
}

.fixed{
    position:fixed;

    background: #fff;
}

header {

    height: auto;

    /*border-bottom: 3px solid #3887be;*/

    overflow: hidden;

}

#background {

    width: 100%;

    position: fixed;

    left: 0;

    top: 0;

    z-index: -1;

}

#topbar {

    text-align: center;

    overflow: hidden;

}

#nepal-flag {

    width: 3em;

    float: right;

}

#logo {

    /*background: #555;*/

    height: auto;

    margin-top: 1em;

    margin-bottom: 1.1em;

    /*border-right: 1px solid #3887be;*/

    /*blue*/

}

#logo img{
    width: 125px;
}

#logo-event {

    margin-top: 15px;

    height: auto;

    margin-bottom: 20px;

    overflow: hidden;

    text-align: left;

    font-size: 1.2em;

    padding-left: 1em;

}

span {

    margin: 0;

    line-height: auto;

}

#logo-event span {

    font-size: 1em;

    text-transform: uppercase;

    color: #3887be;

    /*blue*/

    font-weight: bold;

}

#logo-event span#days-left {

    font-size: 3em;

    color: #e51717;

    /* red color */

    font-weight: bolder;

    line-height: 1;

    text-align: center;

    padding-left: 0.5em;

}

#header-text {

    font-size: 1.6em;

    text-align: center;

    padding-top: 1em;

    padding-left: 2em;

}

#navigation {

    /*background: #fff;*/

    float: right;

    box-sizing: border-box;

    vertical-align: text-bottom;

    padding-right: 0 !important;

    margin-top: 1.2em;

    font-size: 1.2em;

}

#navigation ul {

    width: 100%;

    list-style: none;

    text-transform: uppercase;

    display: inline;

}

#navigation li {

    display: inline-block;

    margin-left: 1.1em;

}

#navigation li a {

    color: #3e3e3e;

}

#navigation li a:hover, #navigation li a:active {

    color: #3887be;

    text-decoration: none;

}

#content {

    width: 100%;

    min-height: 450px;

}

a#nav-dashboard {

    background: #3887be;

    color: #efefef;

    padding:0.5em;

}

.navbar {

    margin-bottom: 0 !important;

}

.active {

    font-weight: bold;

    color: #3887be;

}

/* Header Stuffs Ends Here */

/* election part */

#election-data {

    /*background: #f5dfdf;*/

    padding-top: 1em;

    padding-bottom: 1em;

    border-bottom: 1px solid #efefef;

    overflow: hidden;

    color: #333;

    font-size: 1.35em;

}

#map, #mapdistrict {

    /*padding: 1em;*/

    padding-left: 1.5em;

    overflow: hidden;

}

#map h4, #mapdistrict h4 {

    font-weight: bold;

    color: #3887be;

    position: absolute;

    right: 40px;

}

#mapdistrict {

    /*overflow-y: scroll;*/

}

#election-overview {

    /*padding: 1em;*/

    padding-left: 1.5em;

    border-left: 1px solid #efefef;

}

#election-overview span {

    margin-bottom: 1.5em;

}

#election-overview h4 {

    font-weight: bold;

    color: #3887be;

}

#district-name-details {

    color: #e41616;

    text-transform: uppercase;

    /*min-height: 100px !important;*/

}

#district-name-details h2 {

    color: #e51717;

}

.overview-details {

    margin-top: 2em;

}

.overview-details span {

    font-size: 1em;

}

#election-extra-details {

    max-height: 280px;

    overflow-y: scroll;

}

#election-extra-details::-webkit-scrollbar {

    width: 16px;

}

#election-extra-details::-webkit-scrollbar-track {

    background: #8bc3eb;

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    /*border-radius: 10px;*/

}

#election-extra-details::-webkit-scrollbar-thumb {

    /*border-radius: 10px;*/

    background: #3887be;

}

.view-candidate {

    padding-top: 1em;

}

.view-candidate form label {

    padding-left: 1em;

    padding-right: 1em;

    color: #3887be;

    float: left;

    font-size: 1em;

}

.view-candidate form select {

    width: 10em;

    height: 1.7em;

    color: #3e3e3e;

    font-size: 1.1em;

    border: 1px solid #3887be;

    float: left;

}

.view-candidate form input {

    width: 6em;

    font-size: 1.1em;

    height: 1.7em;

    background: #3887be;

    color: #fff;

    border: none !important;

    text-align: center;

    float: left;

}

.view-candidate form input:hover {

    background: #175988;

}

#view-candidate-dist {

    margin-top: 3em;

    text-align: center;

    margin-bottom: 1.5em;

    overflow: hidden;

}

#district-view-candidate {

    margin-top: 1em;

    border-top: 1px solid #efefef;

    padding-top: 2em;

    max-height: 450px;

    overflow-y: scroll;

}

#district-view-candidate::-webkit-scrollbar {

    width: 16px;

}

#district-view-candidate::-webkit-scrollbar-track {

    background: #8bc3eb;

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    /*border-radius: 10px;*/

}

#district-view-candidate::-webkit-scrollbar-thumb {

    /*border-radius: 10px;*/

    background: #3887be;

}

#party-candidates {

    margin-left: 0 !important;

    max-height: 500px;

    overflow-y: scroll;

}

#party-candidates::-webkit-scrollbar {

    width: 16px;

    margin-left: 2em;

}

#party-candidates::-webkit-scrollbar-track {

    background: #8bc3eb;

    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    /*border-radius: 10px;*/

}

#party-candidates::-webkit-scrollbar-thumb {

    /*border-radius: 10px;*/

    background: #3887be;

}

/* charts part */

#charts {

    margin-top: 3em;

    padding-bottom: 2em;

    overflow: hidden;

}

#charts {

    height: auto;

    max-width: 100%;

}

#charts h4 {

    margin-left: 1.5em;

}

/* login part*/

#loginform {

    width: 50%;

    margin-left: 25%;

    padding-top: 2em;

    text-align: center;

    color: #333;

}

#loginform h2 {

    color: #3887b6;

    font-weight: bold;

    margin-bottom: 1em;

}

#loginform input {

    width: 50%;

    height: 2em;

    font-size: 1.2em;

    color: #000;

    margin-bottom: 1em;

}

#loginform input[type='submit'] {

    background: #3887be;

    height: 2.3em;

    color: #fff;

}

#loginform input[type='submit']:active {

    border-top: 2px solid #fff;

}

.admin-home {

    padding-top: 10em;

}

.admin-options {

}

.admin-options a {

    border: 1px solid #3887be;

    background: #efefef;

    padding: 5em;

    text-decoration: none;

}

.admin-options a:hover {

    background: #3887be;

    color: #efefef;

}

#left-sidebar {

    padding: 2em;

    font-size: 1.2em;

}

.sidelink {

    margin-bottom: 1em;

    /*width: 10em;*/

    background: #efefef;

    padding: 1em;

    display: inline-block;

}

.sidelink:hover {

    background: #3887be;

    cursor: pointer;

}

a.sidelink {

    text-decoration: none;

    color: #3887be;

}

a.sidelink:hover {

    color: #efefef;

    cursor: pointer;

}

#admin-content {

    margin-bottom: 5em;

    color: #333;

}

#admin-body input {

    width: 80%;

    height: 2.5em;

}

#admin-body input[type="radio"] {

    width: 5%;

}

#admin-body input[type="submit"] {

    background: #3887be;

    color: #efefef;

    width: 20%;

}

#admin-body textarea {

    width: 80%;

    height: 20em;

}

#admin-body select {

    height: 2.5em;

}

.admin-make a {

    background: #3887be;

    color: #efefef;

    padding: 1em;

}

#admin-content {

    font-size: 1.2em;

}

#admin-content table th {

    height: 3em;

    background: #efefef;

}

#admin-content table tr {

    height: 2.5em;

    border-bottom: 1px solid #efefef;

}

table {

    color: #333;

}

/* recent stuffs*/

#recent-posts {

}

.recent {

    border-top: 1px solid #efefef;

    height: auto;

    overflow: hidden;

    color: #3e3e3e;

    font-size: 1.36em;

    padding: 1em;

}

.recent .col-sm-6 {

    padding: 0;

    border: 1px solid #efefef;

}

.recent h2 {

    color: #fff;

    background: #3887BE;

    padding: 0.4em;

    text-transform: uppercase;

    font-size: 1.1em;

    font-weight: normal;

    margin-bottom: 1em;

    padding-left: 0.6em;

}

.recent h3 a {

    font-size: 1.3em;

    line-height: 1.5em;



}

.recent li a {

    font-size: 1em;

    line-height: 2em;

}

.recent li {
    border-bottom: 1px solid #3887BE;
    padding: 0.6em;
    margin-bottom: 5px;
    list-style: none;

}

.recent span{
    font-weight: bold;
}

#ads li , #ads2 li{
    margin-top: 10px;
    border-bottom: none;
}

.recent .btn {

    float: right;

}

#recent-news {

    line-height: 1.6em;

}

#recent-blog {

    line-height: 1.6em;

}

.ticker, .nticker, .ntickersports, .ntickereconomics{
	overflow: hidden;
	height: 20em;
}

.ticker p{
    font-size: 0.8em;
}

.nticker article{
    font-size: 0.84em;
}

#facebook-like{
    margin-top: 1em;
}



#chart_div_text {

    padding-top: 4em;

    color: #3887be;

}

/* POST - ALL */

#page-header {

    padding-top: 0.5em;

    padding-left: 1.5em;

    margin-bottom: 1em;

    text-transform: uppercase;

    font-weight: bold;

    color: #333;

}

.post {

    /*background: #efefef;*/

    padding-top: 1em;

    margin-bottom: 1.5em;

    padding-bottom: 1em;

    padding-left: 2em;

    border-top: 1px solid #ddd;

    font-size: 1.36em;

}

#single {

    color: #333;

    border-top: none !important;

}

#single span {

    font-size: 1.2em;

}

#single-candidate {

    font-size: 1.2em;

}

.post-detail {

    color: #3e3e3e;

}

.post-body {

    line-height: 2em;

    color: #333;

}

.post-body img {

    width: 90%;

}

.post .btn {

    float: right;

}

.post h3 a {

    color: #3887be;

    text-decoration: none !important;

    cursor: pointer;

}

.post h3 {

    font-size: 1.6em;

    color: #3887be;

    line-height: 1.8em;

    /*font-weight: bold;*/

}

.post-detail {

    font-size: 0.9em;

    color: #aaa;

}

#contact {

    border-top: none;

}

legend {

    border-bottom: none !important;

    font-size: 1.2em;

    margin-bottom: 0.5em;

}

#contact input {

    width: 25em;

    height: 3em;

    margin-bottom: 1em;

}

#contact input[type='submit'] {

    background: #3887be;

    color: #fff;

}

#contact input[type='submit']:hover {

    background: #3987be;

    color: #fff;

}

#contact textarea {

    width: 25em;

    margin-bottom: 1em;

}

#contactleft {

    border-right: 1px solid #efefef;

}

#contactright {

    padding-left: 5em;

}

/* party and candidates */

.lists {

    margin-left: 2em;

}

.listbck {

    background: #3887be;

    display: block;

    margin-left: 1em;

}

.lists {

    font-size: 1.3em;

    text-align: center;

}

.lists span {

    color: #fff;

}

.lists a {

    text-decoration: none;

}

.border-bottom {

    border-bottom: 1em solid #fff;

}

#single-des {

    padding-left: 3em;

    font-size: 1.3em;

}

#single-party {

    font-size: 1.35em;

}

#party-candidates table {

    width: 95%;

    text-align: center;

}

.distlists {

    padding-left: 1em;

    text-align: center;

}

.distlists span {

    color: #fff;

}

.distlists a {

    text-decoration: none;

}

.pagination {

    padding-left: 2em;

}

.pagination li {

    display: inline;

    font-size: 1.3em;

    list-style: none;

    padding-right: 2em;

}

.pagination li:last-child {

    padding-right: 0;

}

/* FOOTER */

.footerdiv {

    margin-top: 2em;

    padding-top: 1.5em;

    border-top: 3px solid #3887be;

    font-size: 1.2em;

    padding-bottom: 1.5em;

    color: #333;

}

.right {

    float: right;

}

/*//////////////////////////////////////////////////////////////////////////////
// mobile css
/////////////////////////////////////////////////////////////////////////////*/

/* Larger Desktop ----------- */

@media (min-width:1400px) and (max-width:1620px) {

    .recent {

        margin-bottom: 1em;

    }

    #nepal-flag {

        float: right;

    }

    #navigation {

        float: right;

    }

}

@media only screen and (min-width:1200px) and (max-width:1390px) {

    html {

        font-size: 75%;

    }

    .recent {

        margin-bottom: 1em;

    }

    #nepal-flag {

        float: right;

    }

    #navigation {

        float: right;

    }

}

@media only screen and (min-width:1100px) and (max-width: 1200px) {

    html {

        font-size: 77%;

    }

    #nepal-flag {

        float: right;

    }

    #navigation {

        float: right;

    }

    .view-candidate label {

        font-size: 1.1em;

    }

    .view-candidate form select {

        width: 7em;

        font-size: 1.1em;

    }

    .view-candidate form input {

        width: 5em;

        font-size: 1em;

    }

}

@media only screen and (min-width:960px) and (max-width: 1100px) {

    html {

        font-size: 77%;

    }

    .recent {

        margin-bottom: 1em;

    }

    #nepal-flag {

        float: none;

    }

    #navigation {

        float: none;

    }

    #navigation ul {

        font-size: 0.95em;

    }

    #election-overview h4 {

        font-size: 1.5em;

    }

    #map h4 {

        font-size: 1.5em;

    }

    .view-candidate {

        margin-top: 3em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate form select {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

        margin-bottom: 1.5em;

    }

    .view-candidate form input {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

    }

}

@media only screen and (min-width:700px) and (max-width: 960px) {

    html {

        font-size: 80%;

    }

    .recent {

        margin-bottom: 1em;

    }

    #nepal-flag {

        float: none;

    }

    #navigation {

        float: none;

    }

    #map h4 {

        font-size: 1.5em;

    }

    #election-overview h4 {

        font-size: 1.5em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate {

        margin-top: 3em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate form select {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

        margin-bottom: 1.5em;

    }

    .view-candidate form input {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

    }

    #single-candidate {

        padding-left: 1em;

        margin-top: 2em;

    }

    #election-extra-details {

        max-height: none;

        overflow: hidden;

    }

}

@media only screen and (min-width:500px) and (max-width: 700px) {

    html {

        font-size: 80%;

    }

    .recent {

        margin-bottom: 1em;

    }

    #nepal-flag {

        float: none;

    }

    #navigation {

        float: none;

    }

    #Layer_1 {

        display: none;

    }

    /*map*/

    .view-candidate {

        margin-top: 3em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate form select {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

        margin-bottom: 1.5em;

    }

    .view-candidate form input {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

    }

    /*.view-candidate{ margin-top: 2em; font-size: 1.3em;}*/

    /*.view-candidate-dist{ margin-top: 2em; font-size: 1.2em; }*/

    #map h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #election-overview h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #election-overview {

        margin-top: 1em;

        padding-top: 1em;

        border-top: 1px solid #efefef;

    }

    #single-candidate {

        padding-left: 1em;

        margin-top: 2em;

    }

    #election-extra-details {

        max-height: none;

        overflow: hidden;

    }

}

@media only screen and (min-width:300px) and (max-width: 500px) {

    html {

        font-size: 80%;

    }

    .recent {

        margin-bottom: 0;

    }

    #nepal-flag {

        float: none;

    }

    #navigation {

        float: none;

    }

    #Layer_1 {

        display: none;

    }

    /*map*/

    .view-candidate {

        margin-top: 3em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate form select {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

        margin-bottom: 1.5em;

    }

    .view-candidate form input {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

    }

    /*.view-candidate{ margin-top: 2em; font-size: 1.3em;}*/

    /*.view-candidate-dist{ margin-top: 2em; font-size: 1.2em;}*/

    #election-overview {

        margin-top: 1em;

        padding-top: 1em;

        border-top: 1px solid #efefef;

    }

    #election-overview h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #map h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #single-candidate {

        padding-left: 1em;

        margin-top: 2em;

    }

    #election-extra-details {

        max-height: none;

        overflow: hidden;

    }

}

@media only screen and (min-width:200px) and (max-width: 300px) {

    /*html { font-size: 90%; }*/

    .recent {

        margin-bottom: 0;

    }

    #nepal-flag {

        float: none;

    }

    #navigation {

        float: none;

    }

    #Layer_1 {

        display: none;

    }

    /*map*/

    .view-candidate {

        margin-top: 3em;

    }

    .view-candidate label {

        display: none;

    }

    .view-candidate form select {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

        margin-bottom: 1.5em;

    }

    .view-candidate form input {

        width: 80%;

        margin-left: 10%;

        height: 2.5em;

    }

    /*.view-candidate{ margin-top: 2em; font-size: 1.2em; }*/

    /*.view-candidate-dist{ margin-top: 2em; font-size: 1.3em; }*/

    #election-overview h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #election-overview {

        margin-top: 1em;

        padding-top: 1em;

        border-top: 1px solid #efefef;

    }

    #map h4 {

        left: 1.5em;

        font-size: 1.7em;

    }

    #single-candidate {

        padding-left: 1em;

        margin-top: 2em;

    }

    #election-extra-details {

        max-height: none;

        overflow: hidden;

    }

}
